
.navBarDiv{
 display: flex;
 flex-direction: row;
 float: right;

}

.titleHeading{
  display: inline;
}

.but-login, .but-signup {
  float: right;
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100px;
    margin-top: 0.5em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
  }

  @media only screen and (max-width: 600px) {
    .navBarDiv{
      justify-content: space-evenly;
      float: none;
    }
    .titleHeading{
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      border-bottom: 1px solid gray;
    }
  }
  
 button:hover {
    color: #fff;
  }